$box:;
$bp:sm,md,lg,sp,mg,ut;
$mediaQuery:,,,,;
$mediaQueryMAX:5000px;
$flBoxPadding:;
$flBoxPaddingIn:;
$startFlexWidth:8.333333333;
$transition:1;
$transitionTime:;
$transitionEasing:;
$containerOverflowX_hidden:;
$Z_index:0,;
$wireframeColor: #333333,indigo,#BBB6FF,#5114E5,#3A8EFF,#C129E9,#2942E9,#FFCC00,#00FFF6;
$wireframeColorLegend: #333333;
$wireframeFlex:  #CCDD22;
$wireframeStatus: