/* CSS Document */

$mediaQuery:780px,1240px,1460px,1680px,1920px;
$mediaQueryMAX:5000px;
$flBoxPadding:2px 2px;
$flBoxPaddingIn:20px 10px;
$startFlexWidth:8.333333333;
$transition:1;
$transitionTime:300ms;
$transitionEasing:ease-in;
$containerOverflowX:1;
$Z__index:0,10;

$bgSmColor:#3052DA,#5872DA,#7783B5,#562EE7,#7454E7,#816EC4,#3097F1,#57AAF1,#7EAED8,#2ED6E7,#5DDAE7,#82D0D8;
$bgMdColor:#D104E1,#86408B,#5A0261,#3A1C3C,#D723E6,#A675AA,#D723E6,#A675AA,#5B0F61,#463148,#A103AE,#67326C;


